<li>
    {{name}}

    <button class="change-eat" data-id="{{id}}" data-neweat="{{devor}}">
        {{#if devour}}Don't Eat!{{else}}DEVOURED!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>